<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notest</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        
        <div class="header-profile">
            <div class="header-profile__image">
                <img src="/images/pofile-book-read.jpg" alt="pofile-book-read">
            </div>
            <div class="header-profile__title">
                <h2>
                    My Notes And Ratings
                </h2>
            </div>
            <div class="header-burger">
                <span id="burgerToggle" class="header-burger__hamburger"></span>
            </div>
        </div>
        
        <div class="nav">
            <ul id="nav-bar" class="nav-bar">
                <a href="/" class="nav-bar__link">
                    <li id="home" class="nav-bar__btn">
                        Home
                    </li>
                </a>
                <a href="/contact" class="nav-bar__link">
                    <li id="contact" class="nav-bar__btn">
                            Contact
                    </li>
                </a>
                <a href="/about" class="nav-bar__link">
                    <li id="about" class="nav-bar__btn">
                        About
                    </li>
                </a>
                <a href="/faq" class="nav-bar__link">
                    <li id="faq" class="nav-bar__btn">
                            Faq
                    </li>
                </a>
            </ul>
            
        </div>
    </header>