<div class="signup">
    <form action="/signup" method="post" class="signup-form">
        <div class="signup-user__name">
            <label for="name">Name :</label> <input type="text" name="name" placeholder="name">
        </div>
        <div class="signup-user__username">
            <label for="username">Username :</label> <input type="text" name="username" placeholder="username">
        </div>
        <div class="signup-form__NewPass">
            <label for="password">New password :</label> <input type="text" name="newPassword" placeholder="New password">
        </div>
        <div class="signup-form__ConfirmPass">
            <label for="password">Confirm Password :</label> <input type="text" name="ConfirmPassword" placeholder="Confirm Password">
        </div>
        <button class="signup-form__submit" type="submit">
            Submit
        </button>
    </form>
</div>